
<hr>
<div class="jumbotron" height:70px>
  <h1 style="text-align:center">About our project:</h1>
<p>Angular is a platform that makes it easy to build applications with the web. Angular combines
   declarative templates, dependency injection, end to end tooling, and integrated best practices to 
   solve development challenges.
   Angular empowers developers to build applications that live on the web, mobile, or the desktop</p></div>
<div style="text-align:center;">
    <p><a href= "" (click)="sendMeHome()"><button class="btn btn-success">
      I want to go Home Please click me</button></a></p>

</div>
  

  
