<hr style="border:5px solid grey">
<div class ="container">
    <div class="row" style ="margin-left:10px">
        <div class="col-md-4" style="background-color:Red; border:5px solid grey">
<a href ="https://www.iloveit4ever.com"> My Website</a>
        </div>
        <div class="col-md-4" style="border:5px solid grey">
             <iframe src="https://www.youtube.com/embed/fzKvol509co" frameborder="0"  allowfullscreen>My Youtube Channel</iframe>
            </div>
            <div class="col-md-4" style="background-color:green;border:5px solid grey">
            <a href ="https://devpost.com/DhanKhatri?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">My DevPost Protofolio</a>
                </div>
    </div>
</div>
<hr style="border:5px solid grey">